*{
    padding: 0px;
    margin: 0px;
}


.para{
    color: red;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}


.container .parent> p{
    color: red;
    background-color: blue;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}


.anis{
    background-color: yellow;
}


.pixel{
    margin: 50px;
}


.morshed{
   color: aqua; 
   background-color: #000;
}






.banner, .slider, .pppp{
    background-color: red;
    margin: 10px;
}

/* Egulu Example */


/* .banner{
    background-color: red;
    margin: 10px;
}
.slider{
    background-color: red;
    margin: 10px;
}

.pppp{
    background-color: red;
    margin: 10px;
} */


